{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["airbnb/base", "plugin:jest/recommended", "plugin:react/recommended"],
  "rules": {
    // no need to use logger, console is appropiate
    "no-console": "off"
  }
}
