version: '3.7'

volumes: 
  db_data:

services:
  bot:
    build: .
    env_file:
      - .env
    environment:
      - MONGO_URL=mongodb://mongodb:27017
      - MONGO_DB_NAME=hakeshonassydb
    volumes:
    - ./:/app
    depends_on:
      - mongodb

  mongodb:
    image: mongo:latest
    restart: always
    environment:
      - MONGO_DATA_DIR=/data/db
      - MONGO_LOG_DIR=/dev/null
    volumes:
      - db_data:/data/db
    ports:
      - 27017:27017
    command: mongod --logpath=/dev/null # --quiet